{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class='row justify-content-center'>
    <div class='col-4'>
        <div class='card'>
            <div class='card-body'>
                <p>Reset your password</p>
                <form method='post'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Send Confirmation Email</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}