<!DOCTYPE html> 
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <h1>My Site</h1>
    <a href="{% url 'home' %}">Home</a>/
    {% if user.is_authenticated %}
        <a href="{% url 'secret' %}">Secret Page</a>/
        <a href="{% url 'secret2' %}">Secret Page (class-based view)</a>/
        <a href="{% url 'password_change' %}">Change password</a>/
        <a href="{% url 'logout' %}">Log Out</a>/
        <strong>You are logged in as {{ user.username }}</strong>
    {% else %}
        <a href="{% url 'signup' %}">Sign Up</a>/
        <a href="{% url 'login' %}">Log In</a>/
    {% endif %}
    <hr>
    {% block content %}
    {% endblock content %}
</body>
</html>